<ul class="list-unstyled w-100 flex-column overflow-hidden">
  @for (item of items; track $index) {
    @if ((!item.admin) || isAdmin()) {
      <li class="w-100 d-flex flex-column" [ngClass]="{ 'mb-4': item.items?.length, 'mt-2 ms-3': !item.items }">
        @if (!item.items) {
          @if (item.label == 'Logout') {
            <a (click)="logout()" [routerLink]="item.link">
              {{ item.label }}
            </a>
          } @else {
            <a [routerLink]="item.link">
              {{ item.label }}
            </a>
          }
        } @else {
          <span class="fw-bold">
            {{ item.label }}
          </span>
        }

        @if (item.items) {
          <app-items-menu [items]="item.items"></app-items-menu>
        }
      </li>
    }
  }
</ul>
